# directories in which to search for templates
DOCKER_SOURCES=""

ARCH:=$(shell ${READIES}/bin/platform --arch)

# for artifact gathering
export ART_DIR=$(ROOT)/bin/artifacts
export ART_INT_DIR=/var/opt/redislabs/artifacts

ifdef BRANCH
ifdef VERSION
$(error Either BRANCH or VERSION must be defined, but not both)
endif
endif

# get the release version, unless one is defined
# since in CI, branches with {d}.{d} push, we allow anything here
# but, master is remapped to edge
# if this is a tag (v1.2.3), we remove the v
ifndef VERSION
	VERSION=$(shell git branch|grep \*|cut -d ' ' -f 2-|sed -e 's/v//g')
	ifeq ($(VERSION),master)  # master
		VERSION=edge
	endif
	ifeq ($(VERSION),)  # tags
	VERSION:=$(shell git name-rev --name-only HEAD | cut -f2 -d/ | cut -f1 -d^ | grep '^v' | sed -e 's/^v\(.*\)/\1/g')
	endif
endif

ifdef BRANCH
VERSION=${BRANCH}
endif

# init for docker tags
FAB_DOCKER_ORG=redisfab
REDISLABS_DOCKER_ORG=redislabs

# e.g redislabs/RedisTimeSeries:edge-bionic-x64
DEFAULT_TAG?=${FAB_DOCKER_ORG}/${PRODUCT}:${VERSION}-${OSNICK}-${ARCH}


# defaults
PACK ?=0
TEST ?=0

# defaults for wrapper script
NOP=0
PUBLISH=0
KEEP=0
VERBOSE=0

# tag library rules
ifeq ($(OFFICIAL), 1)
DOCKER_TAGS+=${REDISLABS_DOCKER_ORG}/${PRODUCT}:${VERSION}
endif

ifeq ($(LATEST),1)
DOCKER_TAGS+=${REDISLABS_DOCKER_ORG}/${PRODUCT}:latest
endif

ifeq ($(PREVIEW),1)
DOCKER_TAGS+=${REDISLABS_DOCKER_ORG}/${PRODUCT}:preview
endif

ifeq ($(EDGE),1)
EDGE_TAG?=${REDISLABS_DOCKER_ORG}/${PRODUCT}:edge
DOCKER_TAGS+=${EDGE_TAG}
endif

# optionally add additional tags
ifdef DOCKER_EXT_TAGS
DOCKER_TAGS+=${DOCKER_EXT_TAGS}
endif

## This builds the docker
build:
	DOCKER_SOURCES=${DOCKER_SOURCES} \
	DOCKER_TAGS="${DOCKER_TAGS}" \
	NOP=${NOP} \
	DOCKER_PUSH=${PUBLISH} \
	VERBOSE=${VERBOSE} \
	KEEP=${KEEP} \
	${DOCKERWRAPPER_EXTRA_VARS} \
	${READIES}/bin/dockerwrapper \
		-d ${ROOT}/Dockerfile${DOCKER_SUFFIX} \
		-t ${DEFAULT_TAG} \
		-e REDIS \
		-D "${DOCKER_OPTS}" \
		${DOCKER_ARGS}
ifeq ($(PACK),1)
	IMAGE=${DEFAULT_TAG} ${READIES}/mk/docker-collect-artifacts
endif

publish:
	DOCKER_SOURCES=${DOCKER_SOURCES} \
	DOCKER_TAGS="${DOCKER_TAGS}" \
	NOP=${NOP} \
	VERBOSE=${VERBOSE} \
	KEEP=${KEEP} \
	${DOCKERWRAPPER_EXTRA_VARS} \
	${READIES}/bin/dockerwrapper \
		-d ${ROOT}/Dockerfile${DOCKER_SUFFIX} \
		-t ${DEFAULT_TAG} \
		-e REDIS \
		-D "${DOCKER_OPTS}" \
		-p -P \
		${DOCKER_ARGS}

# There are mappings between OSNICK to specific OS values, due to docker containers used
# The global mappings are found here.
include ${READIES}/mk/osnick.defs
