# e.g redislabs/RedisTimeSeries:edge
DEFAULT_TAG?=${DOCKER_ORG}/${PRODUCT}:${VERSION}

# defaults
PACK ?=0
TEST ?=0


DOCKER_SOURCES=""

ARCH:=$(shell ${READIES}/bin/platform --arch)

# for artifact gathering
export ART_DIR=$(ROOT)/bin/artifacts
export ART_INT_DIR=/var/opt/redislabs/artifacts

# get the release version, unless one is defined
# since in CI, branches with {d}.{d} push, we allow anything here
# but, master is remapped to edge
# if this is a tag (v1.2.3), we remove the v
ifndef VERSION
	VERSION=$(shell git branch|grep \*|cut -d ' ' -f 2-|sed -e 's/v//g')
	ifeq ($(VERSION),master)  # master
		VERSION=edge
	endif
	ifeq ($(VERSION),)  # tags
	VERSION:=$(shell git name-rev --name-only HEAD | cut -f2 -d/ | cut -f1 -d^ | grep '^v' | sed -e 's/^v\(.*\)/\1/g')
	endif
endif

# defaults for wrapper script
NOP=0
PUBLISH=0
KEEP=0
VERBOSE=0


## This builds the docker
build:
	DOCKER_SOURCES=${DOCKER_SOURCES} \
	DOCKER_TAGS="${DOCKER_TAGS}" \
	NOP=${NOP} \
	DOCKER_PUSH=${PUBLISH} \
	VERBOSE=${VERBOSE} \
	KEEP=${KEEP} \
	REDIS_VERSION=${REDIS_VERSION} \
	REDIS_PRODUCT=${PRODUCT} \
	REDIS_DOCKER_ORG=${DOCKER_ORG} \
	REDIS_OSNICK=${OSNICK} \
	REDIS_OS=${OS} \
	REDIS_ARCH=${ARCH} \
	REDIS_PACK=${PACK} \
	REDIS_TEST=${TEST} \
	${DOCKERWRAPPER_EXTRA_VARS} \
	${READIES}/bin/dockerwrapper \
		-d ${ROOT}/Dockerfile${DOCKER_SUFFIX} \
		-t ${DEFAULT_TAG} \
		-e REDIS \
		-D "${DOCKER_OPTS}" \
		${DOCKER_ARGS}
ifeq ($(PACK),1)
	IMAGE=${DEFAULT_TAG} ${READIES}/mk/docker-collect-artifacts
endif

# There are mappings between OSNICK to specific OS values, due to docker containers used
# The global mappings are found here.
include ${READIES}/mk/osnick.defs
